/*mix(darken(complement($background), 60%), #11f);*/
body {
  background-color: #ddeeff;
  color: #0068d4; }

.fakeshadow {
  border-style: solid;
  border-left-width: 4px;
  border-left-color: #888;
  border-right-width: 2px;
  border-right-color: #ccc; }

.level1 {
  color: red; }
  .level1 .level2 {
    color: blue; }
  .level1 hello ballo {
    color: #123; }

.anim {
  animation-name: 'slide';
  animation-delay: 1s;
  animation-duration: 3s; }

