<html>
    <head>
        <title>3 col</title>
        <style>
            div
            {

            }

            .right{
                float:right;
                width:100px;
                background-color:white;
            }

            .left{
                float:left;
                width:100px;
                background-color:blue;
            }

            .center{
                background-color:green;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="right">xyz</div>
            <div class="left">x</div>
            <div class="center">cener</div>
        </div>
    </body>
</html>
